<div>
  This is a 'lorem ipsum' generator that uses an API "dinosaurus" to lookup words. Enter three words to be the topic of your random lorem ipsum generator. Enter how many sentences, paragraphs, or pages you want. You must only choose one length and must enter three words.
</div>
<br>
<div>
  Note: Some words entered do not have any results in the API. If you receive an error, enter new words.
</div>
<form method="post" action="/">
  Word:
  <input type="text" name="word"> <br>
  Word 2:
  <input type="text" name="word2"> <br>
  Word 3:
  <input type="text" name="word3"> <br>
  Sentences:
  <input type="text" name="sentences"> <br>
  Paragraphs:
  <input type="text" name="paragraphs"> <br>
  Pages:
  <input type="text" name="pages"> (one page contains five paragraphs)<br>
  <input type="submit">
</form>



