Randomly generated text: <br>

<% if @paragraphs > @sentences && @paragraphs > @pages %>
    <% @paragraphs.times do %>
        <p>
          <%= randsentences %>
        </p>
    <% end %>

<% elsif @sentences > @paragraphs && @sentences > @pages %>
    <%= randsentences %>
    <% elsif @pages > @sentences && @pages > @paragraphs %>
    <% (@pages*5).times do %>
        <p>
          <%= randsentences %>
        </p>
        <% end %>

<% end %>



